body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.background{
  position: fixed;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(" ../assets/background.jpg");
  height: 100%;
  transition: 1s;
}

.Thunderstorm{
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(" ../assets/thunderstarm.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: 1s;
}

.Drizziling{
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(" ../assets/drizzling.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: 1s;
}

.Fog{
  background-image: url(" ../assets/fog.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: 1s;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Smoke{
  background-image: url(" ../assets/smoke.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: 1s;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Mist{
  background-image: url(" ../assets/mist.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: 1s;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Rain{
  background-image: url(" ../assets/rain.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: 1s;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Clear{
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(" ../assets/clear.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: 1s;
}

.Clouds{
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(" ../assets/cloud.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: 1s;
}

.Haze{
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(" ../assets/haze.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  transition: 1s;
}

.content{
  text-align: center;
}

.city-input{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  color: black;
  margin-top: 30vh;
  border-radius: 10px;
  outline: none;
  height: 40px;
  padding: 0px 0px 0px 15px;
  font-size: 22px;
  border: none;
  font-weight: 500;
}

.search-button{
  outline: none;
  font-size: 22px;
  margin: 30px;
  font-weight: 600;
  border-radius: 10px;
  background: #4db8ff;
  color: white;
  padding: 7px 25px 7px 25px;
  opacity: 0.88;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

.search-button:hover{
  padding: 5px 23px 5px 23px;
  border: 2px solid #4db8ff;
  background: transparent;
  color: #4db8ff;
  opacity: 1;
}

.white-board{
  padding: 20px 0px 20px 0px;
  background: white;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.temp-cond{
  font-size: 18px;
  font-weight: 500;
}

.git-logo{
  cursor: pointer;
  margin-left: 10px;
  font-size: 40px;
}
.git-logo:hover{
  opacity: 0.5;
}

.header{
  width: 100%;
  text-align: right;
  top: 0;
}

@media only screen and (max-width: 768px) {
  .white-board{
    width: 60%;
    margin: auto;
  }
  .city-input{
    margin-top: 3vh;
    height: 35px;
    padding: 2px 5px 2px 15px;
    font-size: 16px;
 }
 .search-button{
   font-size: 16px
 }
} 

@media only screen and (max-width: 420px) {
  .white-board{
    width: 80%;
    margin: auto;
  }
}